.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
.box-login{
    width: 300px;
    margin: 10px auto;
    margin-top: 12.4vh;
    padding: 2em;
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 25vh;
}
.login-title{
    margin-bottom: 2vh;
}
.user_button{
    background-color: white ;
    color: #f4d041 ;
    font-weight: bold;
}
.user_button:hover{
    background-color: #f4d041;
    color: white;
    border: #f4d041 solid 0.1em;
    border: 2px solid white;
}
.navbar-light .navbar-brand{
    font-family: tahoma;
    font-weight: bold;
    color: #f4d041;
    font-size: 1.5em;
}
.collapse .navbar-nav li a, .form-group{
    margin-top: 0.5em;
}
.collapse .navbar-nav li{
    padding-left: 1em;
}
body{
    background-color: #f4d041;
}
#admin-event, #admin-ticket{
    margin: 2em auto;
    background-color: lightgoldenrodyellow;
    border-radius: 1em;
}
#colImg .img{
    width: 300px;
}
td ul{
    list-style: none;
}
td ul li{
    margin: 2vh 0;
    font-size: 100%;
    font-weight: bold;
}
td button{
    margin: 0.5em;
}
td button a{
    color: white;
    font-weight: bold;
}
td button a:hover{
    color: white;
}
@media (max-width: 600px){
    .gambar{
        justify-content: center;
        display: flex;
        margin: 0 auto;
    }
    #colImg .img{
        width: 100px;
    }
    .table td{
        display: block;
        margin: auto;
    }
}