.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
.admin-session{
    display: flex;
}
.box-login{
    width: 300px;
    margin: 10px auto;
    margin-top: 12.4vh;
    padding: 2em;
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 25vh;
}
.login-title{
    margin-bottom: 2vh;
}
.admin_button{
    background-color: #f4d041;
    color: white;
    font-weight: bold;
}
.admin_button:hover{ 
    background-color: white ;
    color: #f4d041 ;
    border: #f4d041 solid 0.1em;
    border: 2px solid white;
}
.navbar-light .navbar-brand{
    font-family: tahoma;
    font-weight: bold;
    color: #f4d041;
    font-size: 1.5em;
}
.collapse .navbar-nav li a, .form-group{
    margin-top: 0.5em;
}
.collapse .navbar-nav li{
    padding-left: 1em;
}
body{
    background-color: #f4d041;
}
#admin-event, #admin-ticket{
    margin: 2em auto;
    background-color: lightgoldenrodyellow;
    border-radius: 1em;
}
.gambar, .penjelasan, .action{
    padding: 15px;
    margin: auto;
}
.col-gambar img{
    width: 250px;
}
.penjelasan{
    position: relative;
    margin: auto;
}
.penjelasan ul li{
    list-style: none;
    font-weight: bold;
    margin: 2vh auto;
}
.btn-action button{
    margin: 2vh auto;
    display: block;
    width: 100px;
}
.btn-action a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
@media (max-width: 600px){
    .gambar{
        justify-content: center;
        display: flex;
        margin: 0 auto;
    }
    #colImg .img{
        width: 100px;
    }
    .table td{
        display: block;
        margin: auto;
    }
    .gambar{
        margin-top: 15px;
    }
    .gambar, .penjelasan, .action{
        padding: 0;
    }
}