.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
.admin-session{
    display: flex;
}
.box-login{
    width: 300px;
    margin: 10px auto;
    margin-top: 12.4vh;
    padding: 2em;
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 25vh;
}
.login-title{
    margin-bottom: 2vh;
}
.admin_button{
    background-color: #f4d041;
    color: white;
    font-weight: bold;
}
.admin_button:hover{ 
    background-color: white ;
    color: #f4d041 ;
    border: #f4d041 solid 0.1em;
    border: 2px solid white;
}
.navbar-light .navbar-brand{
    font-family: tahoma;
    font-weight: bold;
    color: #f4d041;
    font-size: 1.5em;
}
.collapse .navbar-nav li a, .form-group{
    margin-top: 0.5em;
}
.collapse .navbar-nav li{
    padding-left: 1em;
}
body{
    background-color: #f4d041;
}
#admin-event, #admin-ticket{
    margin: 2em auto;
    background-color: lightgoldenrodyellow;
    border-radius: 1em;
}
.gambar, .penjelasan, .action{
    padding: 15px;
    margin: auto;
}
.col-gambar img{
    width: 250px;
}
.penjelasan{
    position: relative;
    margin: auto;
}
.penjelasan ul li{
    list-style: none;
    font-weight: bold;
    margin: 2vh auto;
}
.btn-action button{
    margin: 2vh auto;
    display: block;
    width: 100px;
}
.btn-action a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#ads {
    margin: 30px 0 30px 0;
   
}

#ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px; 
        color: #000;
        padding: 5px 10px;
        font-size: 14px;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #ff4444;
        border-radius: 50%;
        text-align: center;
        color: #fff;      
        font-size: 14px;      
        width: 50px;
        height: 50px;    
        padding: 15px 0 0 0;
}


#ads .card-detail-badge {      
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;        
    }

   

#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay {
        font-size: 20px;
        
    }


#ads .card-image-overlay span {
            display: inline-block;              
        }


#ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #e6de08;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;        
        position: relative;
        background-color: #e6de08;
    }

#ads .ad-btn:hover {
            background-color: #e6de08;
            color: #1e1717;
            border: 2px solid #e6de08;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
}

#ads .img-fluid{
    height: 25em!important;
    width: 100%;
}

#ads .card{
    width: 20em;
}

@media (max-width: 600px){
    .gambar{
        justify-content: center;
        display: flex;
        margin: 0 auto;
    }
    #colImg .img{
        width: 100px;
    }
    .table td{
        display: block;
        margin: auto;
    }
    .gambar{
        margin-top: 15px;
    }
    .gambar, .penjelasan, .action{
        padding: 0;
    }
}