body{
    background-image: url('./background_input.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
form{
    background-color: white;
    margin: 1.5em;
    padding: 2em;
    border-radius: 0.5em;
    font-weight: bold;
    width: 30em !important;
    max-width: 100%;
}
form .btn{
	background-color: #f4d041;
    color: white;
    font-weight: bold;
}
form .btn:hover{
	background-color: white;
    color: #f4d041;
    border: #f4d041 solid 1px;
}
form button a{
    text-decoration: none !important;
    color: white !important;
}
form button a:hover{
    color: #f4d041 !important;
}
form{
    padding-bottom: 5px;
}
footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}
#payment-menu{
    background-color: lightgray !important;
    opacity: 0.8;
    margin: auto;
    padding: auto;
}
.label{
    font-weight: bold;
}
#jenisPublikasi{
    padding-top: 5vw;
}
#transfer{
    background-color: white;
    border-radius: 1em;
    max-width: 50vw;
    margin: auto;
    padding: auto;
}
#payment-btn{
    padding-bottom: 5vw;
}
#payment-btn .btn{
    background-color: #f4d041;
    color: white;
    font-weight: bold;
}
#payment-btn .btn:hover{
    background-color: white;
    color: #f4d041;
    border: #f4d041 solid 1px;
}
#payment-btn a{
    text-decoration: none;
    color: white;
}
#payment-btn a:hover{
    color: #f4d041;
}
#totalPembayaran p{
    color: blue !important;
    font-weight: bold !important;
    padding: 0 20vw;
}
#notification{
    background-color: red;
    color: white;
    border-radius: 0.5em;
    font-size: 2vw;
    max-width: 70vw;
    padding: auto;
}
#kelola-event{
    margin-bottom: 5em;
}
#kelola-event label, #kelola-ticket label{
    color: #f4d041;
    font-size: 17px;
}
#kelola-event .btn, #kelola-ticket .btn{
    background-color: #f4d041;
    border-radius: 0.2em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}
#kelola-event a, #kelola-ticket a{
    text-decoration: none;
}
#kelola-event .btn:hover{
    background-color: white;
    color: #f4d041;
}
#kelola-event #baris, #kelola-ticket #baris{
    margin: 2vh auto;
    padding: 3em;
    background-color: lightgoldenrodyellow;
    border-radius: 0.3em;
    display: flex;
    justify-content: center;
}
#kelola-ticket{
    margin-bottom: 5em;
}

#kelola-ticket .btn:hover{
    background-color: white;
    color: #f4d041;
}
.card-img{
    width: 300px!important;
    margin-bottom: 2vh
}
#kelola-event #baris .item, #kelola-ticket #baris .item{
    justify-content: center;
    display: flex;
}
.item .content{
    display: block;
    margin: 2vh 3vw;
}

@media (max-width: 600px){

    #kelola-event #baris, #kelola-ticket #baris{
        display: block;
    }
    #kelola-event #baris .item, #kelola-ticket #baris .item{
        justify-content: center;
        display: flex
    }
    .card-img{
        width: 200px!important;
    }
    #kelola-event label, #kelola-ticket label{
        font-size: 12px;
    }
    #kelola-event .btn, #kelola-ticket .btn{
        font-size: 10px;
    }

}
@media (width: 360px){
    footer{
        position: relative;
    }
}