body{
    background-image: url('./LP_Bakcground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
form{
    background-color: white;
    margin: 1.5em;
    padding: 2em;
    border-radius: 0.5em;
    font-weight: bold;
    width: 30em !important;
    max-width: 100%;
}
.list-kosong{
    margin-top: 2vh;
}
#input-ticket{
    margin-bottom: 10vh;
}
.title-list-ticket, .title-list-member{
    margin-top: 5vh;
    text-align: center;
}
.title-list-ticket h2, .title-list-member h2{
    font-weight: bold;
    color: #f4d041;
}
.badge{
    font-size: 40px;
}
.title-list-ticket::after{
    width: 100px;
    height: 5px;
    background-color: white;
    content: "";
    display: block;
    margin:auto;
} 
.title-list-member::after{
    width: 100px;
    height: 5px;
    background-color: white;
    content: "";
    display: block;
    margin:auto;
}
.member-ticket{
    margin-bottom: 10vh;
}
.member-event .slick-slide img{
    height: 300px;
}
.member-ticket .slick-slide img {
    height: 130px;
}
.slick-slider{
    margin: 20px;
}
.slick-prev{
    left: 0!important;
    z-index: 99;
}
.slick-next{
    z-index: 99;
    right: 0!important;
}
form .btn{
	background-color: #f4d041;
    color: white;
    font-weight: bold;
}
form .btn:hover{
	background-color: white;
    color: #f4d041;
    border: #f4d041 solid 1px;
}
form button a{
    text-decoration: none !important;
    color: white !important;
}
form button a:hover{
    color: #f4d041 !important;
}
form{
    padding-bottom: 5px;
}
footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}
#payment-menu{
    background-color: lightgray !important;
    opacity: 0.8;
    margin: auto;
    padding: auto;
}
.label{
    font-weight: bold;
}
#jenisPublikasi{
    padding-top: 5vw;
}
#transfer{
    background-color: white;
    border-radius: 1em;
    max-width: 50vw;
    margin: auto;
    padding: auto;
}
#payment-btn .btn{
    background-color: #f4d041;
    color: white;
    font-weight: bold;
}
#payment-btn .btn:hover{
    background-color: white;
    color: #f4d041;
    border: #f4d041 solid 1px;
}
#payment-btn a{
    text-decoration: none;
    color: white;
}
#payment-btn a:hover{
    color: #f4d041;
}
#totalPembayaran p{
    color: blue !important;
    font-weight: bold !important;
    padding: 0 20vw;
}
#notification{
    background-color: red;
    color: white;
    border-radius: 0.5em;
    font-size: 2vw;
    max-width: 70vw;
    padding: auto;
}
.btn-card-list .btn-danger{
    background-color: #dc3545!important;
    color: white;
}
.btn-card-list .btn-danger:hover{
    background-color: #91131f!important;
    border: #91131f solid 1px;
    color: white;
}
.card-img{
    width: 300px!important;
    margin-bottom: 2vh
}
.center .card{
    width: 250px;
}
#edit-event, #edit-ticket{
    margin: 1vh;
    display: flex;
    justify-content: center;
}
.user-login{
    justify-content: space-between;
}
@media (min-width: 1360px){
    .center .card{
        width: 270px;
    }
    .member-event .slick-slide img{
        height: 350px;
    }
}
@media (max-width: 1280px){
    .center .card{
        width: 220px;
    }
}

@media (max-width: 600px){

    .badge{
        font-size: 30px;
    }
    .card-img{
        width: 200px!important;
    }
    .center .card{
        width: 230px!important;
    }
}
@media (width: 360px){
    footer{
        position: relative;
    }
}
.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }