body{
    background-image: url('./background_input.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    background-color: white;
    margin: 1.5em;
    padding: 2em;
    border-radius: 0.5em;
    font-weight: bold;
    width: 30em !important;
    max-width: 100%;
}
form .btn{
	background-color: #f4d041;
    color: white;
    font-weight: bold;
}
form .btn:hover{
	background-color: white;
    color: #f4d041;
    border: #f4d041 solid 1px;
}
footer{
    margin-bottom: 0;
}
form button a{
    text-decoration: none !important;
    color: white !important;
}
form button a:hover{
    color: #f4d041 !important;
}

#payment-menu{
    background-color: lightgoldenrodyellow !important;
    opacity: 0.8;
    margin: auto;
    padding: auto;
}
.label{
    font-weight: bold;
}
#jenisPublikasi{
    padding-top: 5vw;
}
#transfer{
    background-color: white;
    border-radius: 1em;
    max-width: 50vw;
    margin: auto;
    padding: auto;
}
#payment-btn{
    padding-bottom: 5vw;
}
#payment-btn .btn{
    background-color: #f4d041;
    color: white;
    font-weight: bold;
}
#payment-btn .btn:hover{
    background-color: white;
    color: #f4d041;
    border: #f4d041 solid 1px;
}
#payment-btn a{
    text-decoration: none;
    color: white;
}
#payment-btn a:hover{
    color: #f4d041;
}
#totalPembayaran p{
    color: blue !important;
    font-weight: bold !important;
    padding: 0 20vw;
}
#notification{
    background-color: red;
    color: white;
    border-radius: 0.5em;
    font-size: 2vw;
    max-width: 70vw;
    padding: auto;
}