body{
    background-image: url('./background_register.jpg')
}
#form-register{
    background-color: white;
    width: 40em;
    height: 33em;
    margin: 1.5em auto;
    border-radius: 0.5em;

}
#background-register{
    position: absolute;
    z-index: -999;
    overflow: hidden;
}
#form-register form .row{
    padding: 1em 0;
}
#form-register form .btn{
	background-color: #f4d041;
    color: white;
    font-weight: bold;
}
#form-register form .btn:hover{
	background-color: white;
    color: #f4d041;
    border: #f4d041 solid 1px;
}
footer{
    margin-bottom: 0;
}
#form-register form button a{
    text-decoration: none !important;
    color: white !important;
}
#form-register form button a:hover{
    color: #f4d041 !important;
}